
{% extends 'base.html' %}
{% block content %}
<h1>{{ name }}</h1>
{% if not readonly %}
  <a class="btn" href="{{ url_for('new_row', name=name) }}">+ New</a>
{% endif %}





<table class="table" id="dataTable">

<table class="table" id="dataTable" style="display:none;">


<table class="table">
  <thead>
    <tr>
      {% for c in spec.columns %}<th>{{ c }}</th>{% endfor %}
      {% if not readonly %}<th>Actions</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      {% for c in spec.columns %}
        <td>{{ r[c] }}</td>
      {% endfor %}
      {% if not readonly %}
        <td>
          <a class="link" href="{{ url_for('edit_row', name=name) }}?{% for k in spec.pk %}{{ k }}={{ r[k] }}{% if not loop.last %}&{% endif %}{% endfor %}">Edit</a>
          <form method="post" action="{{ url_for('delete_row', name=name) }}" style="display:inline" onsubmit="return confirm('Delete?')">
            {% for k in spec.pk %}<input type="hidden" name="{{ k }}" value="{{ r[k] }}">{% endfor %}
            <button class="link danger">Delete</button>
          </form>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
function toggleTable() {
  const table = document.getElementById("dataTable");
  table.style.display = table.style.display === "none" ? "table" : "none";
}
</script>

<script>
function filterTable() {
  const input = document.getElementById("searchInput");
  const filter = input.value.toLowerCase();
  const rows = document.querySelectorAll("#dataTable tbody tr");

  rows.forEach(row => {
    const text = row.innerText.toLowerCase();
    row.style.display = text.includes(filter) ? "" : "none";
  });
}
</script>





{% endblock %}
